/*--------------------------------------------------------
    # shipping
----------------------------------------------------------*/
.shipping {
  padding: auto;
  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 54px;
    }
    p {
      font-size: 14px;
      margin-top: 9px;
    }
  }
}
