/*--------------------------------------------------------
    # Slider
----------------------------------------------------------*/
.slider{
    margin-top: 2rem;
    .slider-item-2{
        width: 21%;
    }
    .slider-item-3{
        width: 20%;
        figure{
            display: flex;
            flex-direction: column;
            .mb-cstm{
                margin-bottom: 20%;
            } 
        }
    }
}
// responsive
@media screen and (max-width:992px){
    .slider .slider-item-3 {
        width: 50%;
    }
    .slider .slider-item-2 {
        width: 50%;
    }
    .slider .slider-item-1 {
        margin-bottom: 2rem;
    }
    .slider .slider-item-3 figure .mb-cstm {
        margin-bottom: 4%;
    }
}